TraubMemorialPaper.synctex.gz
TraubMemorialPaper.dvi
traubmemorialpaper.out
TraubMemorialPaper.spl
TraubMemorialPaper.aux
TraubMemorialPaper.blg
tmpbib.tex
TraubMemorialPaper.log
discussion.log
examples.log
localcost.log
