TraubMemorialPaper.synctex.gz
TraubMemorialPaper.dvi
traubmemorialpaper.out
TraubMemorialPaper.spl
TraubMemorialPaper.aux
TraubMemorialPaper.blg
tmpbib.tex
*.log
*.aux
*.bbl
*.blg
*.out
*.gz
*.spl
*.dvi
ecrc-template.pdf
